body {
    font-family: "Avenir Next";
  }
  
  li {
    display: block;
    font-size:14px;
    width: 100px;

  }
  
  .heder{
    height: 44px;
    background-color:#808080;
    color: #fff;
  }

.{
  
}

.c{

}

.main {
  background-color: blue;
}

